@inherits LayoutComponentBase

<header>
    <h1>Біржа фрілансу 🚀</h1>
    <nav>
        <ul>
            <li><a href="/">Всі замовлення</a></li>
            <li><a href="create-order">Створити замовлення</a></li>
            <li><a href="login">Вхід / Вихід</a></li>
        </ul>
    </nav>
</header>

<div class="main-content">
    @Body
</div>