@using FreelancePlatform.Client
@implements IDisposable
@inject NavigationManager Navigation

<header>
    <h1>Біржа фрілансу 🚀</h1>
    <nav>
        <ul>
            <li><NavLink href="" Match="NavLinkMatch.All">Всі замовлення</NavLink></li>

            @if (UserState.IsLoggedIn)
            {
                @if (UserState.Role == "Customer")
                {
                    <li><NavLink href="create-order">Створити замовлення</NavLink></li>
                }
                else if (UserState.Role == "Freelancer")
                {
                    <li><NavLink href="my-proposals">Мої пропозиції</NavLink></li>
                }
                @* Додаємо прізвище поруч із ім'ям у дужках *@
                <li>
                    <a style="cursor:pointer; color: #ff6b6b;" @onclick="HandleLogout">
                        Вихід (@UserState.Name @UserState.LastName)
                    </a>
                </li>
            }
            else
            {
                <li><NavLink href="login">Вхід</NavLink></li>
                <li><NavLink href="register">Реєстрація</NavLink></li>
            }
        </ul>
    </nav>
</header>

@if (showCookieNotice)
{
    <div class="cookie-notice">
        <span>🍪 Ми використовуємо куки для вашої зручної авторизації.</span>
        <button @onclick="() => showCookieNotice = false">Зрозуміло</button>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        // Підписуємося на зміни
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        // Відписуємося, коли меню знищується
        UserState.OnChange -= StateHasChanged;
    }
    private void HandleLogout()
    {
        UserState.IsLoggedIn = false;
        UserState.Name = "";
        UserState.LastName = ""; // Очищаємо і прізвище при виході
        UserState.Role = "";
        Navigation.NavigateTo("");
        UserState.NotifyStateChanged();
        Navigation.NavigateTo("");
    }
}