@using FreelancePlatform.Client
@implements IDisposable
@inject NavigationManager Navigation
@inject IJSRuntime JS


<header>
    <h1>Біржа фрілансу 🚀</h1>
    <nav>
        <ul>
            <li><NavLink href="" Match="NavLinkMatch.All">Всі замовлення</NavLink></li>

            @if (UserState.IsLoggedIn)
            {
                @if (UserState.Role == "Customer")
                {
                    <li><NavLink href="create-order">Створити замовлення</NavLink></li>
                }
                else if (UserState.Role == "Freelancer")
                {
                    <li><NavLink href="my-proposals">Мої пропозиції</NavLink></li>
                }
                @* Привітання, яке веде в профіль *@
                    <li>
                        <NavLink href="profile" class="profile-link">
                            👋 Привіт, @UserState.Name!
                        </NavLink>
                    </li>
            }
            else
            {
                <li><NavLink href="login">Вхід</NavLink></li>
                <li><NavLink href="register">Реєстрація</NavLink></li>
            }
        </ul>
    </nav>
</header>

@if (showCookieNotice)
{
    <div class="cookie-notice">
        <span>🍪 Ми використовуємо куки для вашої зручної авторизації.</span>
        <button @onclick="() => showCookieNotice = false">Зрозуміло</button>
    </div>
}

@code {
    // ДОДАЙ ОСЬ ЦЕЙ РЯДОК:
    private bool showCookieNotice = true;

    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
    
        private async Task HandleLogout()
    {
        UserState.IsLoggedIn = false;
        UserState.Name = "";
        UserState.LastName = "";
        UserState.Role = "";
        
        await JS.InvokeVoidAsync("cookieFunctions.deleteCookie", "user_session");
        
        UserState.NotifyStateChanged();
        Navigation.NavigateTo("/");
    }

    private bool isReady = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Пытаемся восстановить сессию из localStorage
            await UserState.LoadSession(JS);
            isReady = true;
            StateHasChanged();
        }
    }
}