@using FreelancePlatform.Client
@implements IDisposable
@inject NavigationManager Navigation
@inject IJSRuntime JS

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" href="">Біржа фрілансу 🚀</a>
        
        <div class="d-flex justify-content-end w-100">
            <ul class="navbar-nav align-items-center flex-row gap-3">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Всі замовлення</NavLink>
                </li>

                @if (UserState.IsLoggedIn)
                {
                    @if (UserState.Role == "Customer")
                    {
                        <li class="nav-item"><NavLink class="nav-link" href="create-order">Створити замовлення</NavLink></li>
                    }
                    else if (UserState.Role == "Freelancer")
                    {
                        <li class="nav-item"><NavLink class="nav-link" href="my-proposals">Мої пропозиції</NavLink></li>
                    }

                    <li class="nav-item ms-3">
                        <NavLink class="btn btn-outline-light btn-sm rounded-pill px-3" href="profile">
                            👋 Привіт, @UserState.Name!
                        </NavLink>
                    </li>
                }
                else
                {
                    <li class="nav-item"><NavLink class="nav-link" href="login">Вхід</NavLink></li>
                    <li class="nav-item"><NavLink class="btn btn-primary btn-sm rounded-pill px-3" href="register">Реєстрація</NavLink></li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    // ... твій існуючий блок OnInitialized та Dispose залишається без змін! ...
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}